*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
     position: sticky;
     top:0px;
     background-color: white;
     z-index:1;
}
.logo-container{
    display: flex;
}
.logo{
    border-radius: 40% 10% 10% 60%;
    padding: 3px;
    margin: 10px 0px 0px 30px ;
    background: rgb(158, 146, 128);
}
.title{
    background: rgba(221, 205, 183, 0.657);
    width: 190px;
    margin: 10px 1px -8px ;
    padding:20px 0px 0px 1px ;
    color: #1e94a1;
    border-radius: 40% 30% 300% 50%;
    font-size: 1.08rem;
    /* position: relative; */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Yuji Syuku', serif;
    font-weight: 2000;
    
}
.nav{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif;
    background: rgb(240, 196, 86);
    min-height: 30px;
}
.options{
    color:rgb(129, 7, 32);
    color: black;
    text-decoration: none;
}
.options:hover{
    color: rgb(236, 18, 62);
}
.div-a{
    /* display: flex;
    flex-flow: wrap column; */

}
.css1, .css2, .css3{
    width: 30vw;
    min-height: 20vh;
}
.css-img1 {
    position: relative;
    /* left: 50px; */
    /* width: 1213px; */
    /* background-color: grey; */
    display: flex;
    justify-content: flex-end;
}
.css1{
    position: relative; 
    left: 10px
}
.css2{
    position: relative; 
    left: 5px
}
.css-img2{
    margin-top:-40px ;
    opacity: 50%;
    /* background-color: black; */
}
.definition{
    background:rgb(238, 219, 132);
    /* border-style: solid none; */
    /* border: 10px black; */
    /* border: ; */
    padding: 30px;
    margin: -4px 0px 5px 0px;
    padding: 50px;
    text-align: justify;
    /* border-style:none none solid solid;  */
    font-family: 'Dosis', sans-serif;
    font-weight: 550;
    font-size: larger;
}
.h1{
    color: rgb(129, 7, 32);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif;
}
.arrow{
    width: 0px;
    min-height: 0px;
    border: solid 20px;
    border-color: rgb(129, 7, 32) transparent transparent transparent;
}
.rule-img-div{
  display: flex;
  justify-content: center;
  background-color: rgb(20, 150, 122);
}
.rule-img{
    width: 480px;
    min-height: 150px;
}
.rules-h2{
    background-color: rgb(76, 109, 201);
    color: white;
    margin: 2px 0px;
    padding: 5px 10px 5px 30px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif; 
    font-size: 2rem;   
}
.arrow2{
    margin: 5px 0px -50px 30px;
    width: 0px;
    min-height: 0px;
    border: solid 30px;
    border-color:  transparent transparent transparent rgb(76, 109, 201);  
}
.rules-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  min-height: 400px;
}
.anchor-figcap{
  text-decoration: none;
}
.img1{
    border-radius: 4%;
}
.figure1{
    border: solid rgb(20, 150, 122) 4px;
    border-radius: 4%;
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between ;
    max-width: 200px;
    min-height: 220px;
    margin: 30px;
}
.figure1:hover{
    border: solid rgb(240, 196, 86) 5px;
    border-radius: 4%;  
}
.figcap1{
    text-align: center;
    background-color: rgb(20, 150, 122);
    font-size: 1.2em;
    color: rgb(252, 246, 246);
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}
.order{
    /* order:-1; */
}
.elements-img{
    display: flex;
    justify-content: center;
    background-color: rgb(35, 35, 36);
}
.elements{
    background-color: rgba(241, 146, 129, 0.753);
    color: rgb((35, 35, 36));
    min-height: 450px;
    padding: 0px 30px;
     font-family: 'Dosis', sans-serif;
    font-weight: 550;
    font-size: larger;
      border-bottom: solid rgb(35, 35, 36) 10px;
}
.elements-h2{
     background-color: rgb(138, 113, 118);
    color: rgb(35, 35, 36);
    margin: 2px -30px;
    padding: 5px 10px 5px 30px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif; 
    font-size: 2rem; 
}
.arrow3{
     margin: 5px 0px -25px 10px;
    width: 0px;
    min-height: 0px;
    border: solid 30px;
    border-color:  rgb(138, 113, 118) transparent transparent transparent ;
}
.elements h3{
    font-weight: 770;
    font-size: 1.5rem;
}
.elements-li{
    display:  flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 20px;
  flex-wrap: wrap;
  align-content: space-around;
}
.elements-li li{
    background-color: rgba(95, 160, 146, 0.705);
    width: 100px;
    min-height: 100px;
    border-radius: 50%;
    padding-top: 35px;
    font-size:large ;
    text-align: center;
}
.link{
    text-decoration:wavy ;
    margin: 50px;
   position: relative;
   left: 450px;
    color: rgb(26, 114, 60);
    display: inline-block;
    /* background-color: darkolivegreen; */
    font-size: 1.5rem;
    background:rgba(241, 146, 129, 0.753);
    border-radius: 10%;
}
.link :hover{
    color: darkblue;
}
.pseudo-class-first{
    display: flex;
    justify-content: center;
    background: url(../img/CSS-Pseudo-element-Selectors-1500x500.png) center;
}
.pseudo-class-first img{
    width: 400px;

}
.classes{
    background: rgb(100, 175, 237);
     color: rgb((35, 35, 36));
    min-height: 400px;
    padding: 0px 30px;
     font-family: 'Dosis', sans-serif;
    font-weight: 550;
    font-size: larger;
}
.classes-h2{
     background-color: rgba(37, 148, 115, 0.822);
    color: rgb(35, 35, 36);
    margin: 2px -30px;
    padding: 5px 10px 5px 30px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif; 
    font-size: 2rem; 
}
.arrow4{
     margin: 5px 0px -25px 10px;
    width: 0px;
    min-height: 0px;
    border: solid 30px;
    border-color:  rgba(37, 148, 115, 0.822) transparent transparent transparent ;
}
.classes-li{
      display:  flex;
      flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  list-style: none;
  padding: 20px;
  flex-wrap: wrap;
  /* align-content: space-around; */
  row-gap: 5px;
}
.classes-li li{
    background-color: rgba(253, 253, 253, 0.705);
    width: 100px;
    min-height: 100px;
    border-radius: 50%;
    padding-top: 35px;
    font-size:large ;
    text-align: center;

}
/* :active */
.classes-li :nth-child(1){
    position: relative;
    left: 100px;
    border-radius: 70% 50% 70% 56%;
}
/* :checked */
.classes-li :nth-child(2){
    position: relative;
    /* left: 300px; */
       border-radius: 30% 70% 69% 31% / 55% 35% 65% 45%;
}
/* :hover */
.classes-li :nth-child(3){
    position: relative;
    right: 100px;
    /* bottom: 100px; */
    border-radius: 22% 78% 20% 80% / 55% 13% 87% 45% ;
}
/* :visited */
.classes-li :nth-child(4){
    position: relative;
    /* right: 150px; */
    /* bottom: 100px; */
    border-radius: 22% 78% 50% 50% / 55% 13% 87% 45% ;
}
/* :first-child */
.classes-li :nth-child(5){
    position: relative;
    left: 100px;
    /* bottom: 150px; */
    border-radius: 22% 78% 65% 35% / 55% 60% 40% 45% ;
}
/* :not() */
.classes-li :nth-child(6){
    position: relative;
    /* right: 700px; */
    /* bottom: 500px; */
    border-radius: 76% 24% 65% 35% / 70% 77% 23% 30% ;
}
/* :nth-child() */
.classes-li :nth-child(7){
    position: relative;
    right: 100px;
    /* bottom: 450px; */
    border-radius: 76% 24% 65% 35% / 70% 40% 60% 30% ;
}
/* :nth-of-type() */
.classes-li :nth-child(8){
    position: relative;
    /* left: 90px; */
    /* bottom: 600px; */
    border-radius: 76% 24% 65% 35% / 22% 40% 60% 78% ;
}
/* .etc */
.classes-li :nth-child(9){
    position: relative;
    right: 200px;
    /* bottom: 800px; */
    text-decoration: none;
    color: rgb(35, 35, 36);
}
.classes-li :nth-child(9) :hover{
    background-color: rgb(236, 191, 76);
}



.fixed{
    background-color: brown;
    min-height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif; 
    padding: 10px ;
    /* display: flex; */
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 1.3rem;


}
.fixed-up{
    text-decoration: none;
    color: cornsilk;
 

}


