*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
     position: sticky;
     top:0px;
     background-color: white;
     z-index:1;
}
.logo-container{
    display: flex;
}
.logo{
    border-radius: 40% 10% 10% 60%;
    padding: 3px;
    margin: 10px 0px 0px 30px ;
    background: rgb(158, 146, 128);
}
.title{
    background: rgba(221, 205, 183, 0.657);
    width: 190px;
    margin: 10px 1px -8px ;
    padding:20px 0px 0px 1px ;
    color: #0097A7;
    border-radius: 40% 30% 300% 50%;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive; */
    font-size: 1.08rem;
    /* position: relative; */
     font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif;
}
.nav{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif;
    background: rgb(240, 196, 86);
    min-height: 30px;
}
.options{
    color:rgb(129, 7, 32);
    color: black;
    text-decoration: none;
}
.options:hover{
    color: rgb(236, 18, 62);
}
.div-a{
    /* display: flex;
    flex-flow: wrap column; */

}
.css1, .css2, .css3{
    width: 30vw;
    min-height: 20vh;
}
.css-img1 {
    position: relative;
    /* left: 50px; */
    /* width: 1213px; */
    /* background-color: grey; */
    display: flex;
    justify-content: flex-end;
}
.css1{
    position: relative; 
    left: 10px
}
.css2{
    position: relative; 
    left: 5px
}
.css-img2{
    margin-top:-40px ;
    opacity: 50%;
    /* background-color: black; */
}
.definition{
    background:rgb(238, 219, 132);
    /* border-style: solid none; */
    /* border: 10px black; */
    /* border: ; */
    padding: 30px;
    margin: -4px 0px 5px 0px;
    text-align: justify;
    /* border-style:none none solid solid;  */
}
.h1{
    color: rgb(129, 7, 32);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif;
}
.arrow{
    width: 0px;
    min-height: 0px;
    border: solid 20px;
    border-color: rgb(129, 7, 32) transparent transparent transparent;
}
.rule-img-div{
  display: flex;
  justify-content: center;
  background-color: rgb(20, 150, 122);
}
.rule-img{
    width: 500px;
    height: 150px;
}
h2{
    background-color: rgb(76, 109, 201);
    color: white;
    margin: 2px 0px;
    padding: 10px;
     font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif; 
    font-size: 2rem;   
}
.arrow2{
    margin: 5px 0px -50px 30px;
    width: 0px;
    min-height: 0px;
    border: solid 30px;
    border-color:  transparent transparent transparent rgb(76, 109, 201);  
}
.rules-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.anchor-figcap{
  text-decoration: none;
}
.figure1{
    border: solid rgb(20, 150, 122) 4px;
    border-radius: 4%;
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between ;
    max-width: 200px;
    min-height: 220px;
    margin: 30px;
}
.figure1:hover{
    border: solid rgb(240, 196, 86) 5px;
    border-radius: 4%;  
}
.figcap1{
    text-align: center;
    background-color: rgb(20, 150, 122);
    font-size: 1.2em;
    color: rgb(241, 235, 235);
}
.order{
    order:-1;
}
.fixed{
    background-color: brown;
    color: cornsilk;
    min-height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif; 
    padding: 8px ;
    /* display: flex; */
    position: fixed;
    bottom: 15px;
    right: 15px;


}


