*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
     position: sticky;
     top:0px;
     background-color: white;
     z-index:1;
}
.logo-container{
    display: flex;
}
.logo{
    border-radius: 40% 10% 10% 60%;
    padding: 3px;
    margin: 10px 0px 0px 30px ;
    background: rgb(158, 146, 128);
}
.title{
    background: rgba(221, 205, 183, 0.657);
    width: 190px;
    margin: 10px 1px -8px ;
    padding:20px 0px 0px 1px ;
    color: #0097A7;
    border-radius: 40% 30% 300% 50%;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive; */
    font-size: 1.08rem;
    /* position: relative; */
     font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif;
}
.nav{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif;
    background: rgb(240, 196, 86);
    min-height: 30px;
}
.options{
    color:rgb(129, 7, 32);
    color: black;
    text-decoration: none;
}
.options:hover{
    color: rgb(236, 18, 62);
}
.css1, .css2, .css3{
    width: 30vw;
    min-height: 20vh;
}
.css-img1 {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.css1{
    position: relative; 
    left: 10px
}
.css2{
    position: relative; 
    left: 5px
}
.css-img2{
    margin-top:-40px ;
    opacity: 50%;
}
/* start start start  */
.table{
    background-color:rgb(238, 170, 163) ;
    margin-top: -3.8px;
    min-height: 500px;
    padding: 30px;
}
.table h2{
     font-family: 'Yuji Syuku', serif;
     padding-left: 30px;
}
.table div{
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-evenly ;
    margin-top: 40px;
    align-items: center;
}
.table img{
    width: 420px;
    min-height: 315px;
}
table, th, td{
    border: solid rgb(238, 170, 163)  5px;
    border-collapse:collapse;
    text-align: center;
      font-family: 'Dosis', sans-serif;
    /* font-weight: 550; */
    /* font-size: larger; */
}

th{
    height: 50px;
    background-color: rgb(216, 158, 83);
}
td{
    height: 30px;
}
.td3{
    width: 500px;
}
tr td{
     width: 100px;
}
tr :nth-child(1){
    text-align: left;
    padding: 10px;
}
tr{
    background-color: rgba(95, 158, 160, 0.774);
}
tr:hover{
    background-color: rgb(248, 246, 237);
}







.fixed{
    background-color: brown;
    min-height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif; 
    padding: 10px ;
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 1.rem;


}
.fixed-up{
    text-decoration: none;
    color: cornsilk;
 

}
footer p{
    text-align: center;
         font-family: 'Road Rage', cursive;

}
