*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
     position: sticky;
     top:0px;
     background-color: white;
     z-index:1;
}
.logo-container{
    display: flex;
}
.logo{
    border-radius: 40% 10% 10% 60%;
    padding: 3px;
    margin: 10px 0px 0px 30px ;
    background: rgb(158, 146, 128);
}
.title{
    background: rgba(221, 205, 183, 0.657);
    width: 190px;
    margin: 10px 1px -8px ;
    padding:20px 0px 0px 1px ;
    color: #0097A7;
    border-radius: 40% 30% 300% 50%;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive; */
    font-size: 1.08rem;
    /* position: relative; */
     font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif;
}
.nav{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif;
    background: rgb(240, 196, 86);
    min-height: 30px;
}
.options{
    color:rgb(129, 7, 32);
    color: black;
    text-decoration: none;
}
.options:hover{
    color: rgb(236, 18, 62);
}
.css1, .css2, .css3{
    width: 30vw;
    min-height: 20vh;
}
.css-img1 {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.css1{
    position: relative; 
    left: 10px
}
.css2{
    position: relative; 
    left: 5px
}
.css-img2{
    margin-top:-40px ;
    opacity: 50%;
}
/* start start start  */
.start{
    background: content-box  rgb(59, 201, 206);
    color: rgb(18, 18, 117);
    margin-top: -3.8px;
}
.h1start{
    padding: 10px 30px;
   font-family: 'Yuji Syuku', serif;
}
.p-start{
    padding: 10px 30px;
    font-family: 'Dosis', sans-serif;
    font-weight: 550;
    font-size: larger;
}
.at-start-div{
     padding: 10px 45px;
    font-family: 'Dosis', sans-serif;
    font-weight: 550;
    font-size: larger;
}
.order{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* height: 200px; */
    align-items: flex-end;
    /* flex-wrap: wrap; */
    /* align-content: center; */
    /* flex-shrink: 1; */
}

.order1{
    background-color: darkred;
    width: 200px;
    min-height: 200px;
     color:rgb(20, 218, 224);
     text-align: center;
     padding-top:80px ;
     margin: 10px;
     font-size: 2.5rem;
     /* align-self: flex-start; */
      font-family: 'Dosis', sans-serif;
       font-weight: 550;
}
.order2{
    background-color: orange;
    width: 160px;
    min-height: 160px;
     color:rgb(105, 227, 231);
     text-align: center;
     padding-top:65px ;
     margin: 10px;
     font-size: 2rem;
      font-family: 'Dosis', sans-serif;
       font-weight: 660;
}
.order3{
    background-color: yellow;
    width: 130px;
    min-height: 130px;
    color:rgb(48, 187, 192);
    text-align: center;
    padding-top:50px ;
    margin: 10px;
    font-size: 1.75rem;
    /* align-self: flex-end; */
    font-family: 'Dosis', sans-serif;
       font-weight: 660;
}
.order4{
    background-color: green;
    width: 100px;
    min-height: 100px;
    color:rgb(16, 211, 218);
    text-align: center;
    padding-top:20px ;
    margin: 10px;
    font-size: 1.5rem;
    font-family: 'Dosis', sans-serif;
       font-weight: 660;
}
.order5{
    background-color: blue;
    width: 90px;
    min-height: 90px;
    color:rgb(103, 238, 243);
    text-align: center;
    padding-top:20px ;
    margin: 10px;
    font-size: 1.3rem;
    font-family: 'Dosis', sans-serif;
       font-weight: 660;
    /* align-self: flex-end; */
}
.order6{
    background-color: purple;
    width: 70px;
    min-height: 70px;
    color:rgb(73, 232, 238);
    text-align: center;
    padding-top:12px; 
    margin: 10px;
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
       font-weight: 660;
    /* align-self: flex-start; */
}
.common{
      text-align: center;
      padding-top: ;

}








.fixed{
    background-color: brown;
    color: cornsilk;
    min-height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Road Rage', cursive;
    font-family: 'Yuji Syuku', serif; 
    padding: 8px ;
    /* display: flex; */
    position: fixed;
    bottom: 15px;
    right: 15px;


}
